@page "/"
@using ListasDoblementeEnlazadas.DTO
@using ListasDoblementeEnlazadas.Services

<PageTitle>Video Player</PageTitle>

<div class="d-flex justify-content-center mb-4" style="background-color: lightgray;">
    <iframe src="@youtubeId" width="75%" height="500" frameborder="10" allowfullscreen></iframe>
</div>

<div class="row mb-4 justify-content-center">
    <div class="col-lg-8">
        <div class="d-flex justify-content-center">
            <button @onclick="First" class="btn btn-outline-primary mx-2"><i class="bi bi-chevron-double-left"></i> Primero</button>
            <button @onclick="Before" class="btn btn-outline-primary mx-2"><i class="bi bi-chevron-left"></i> Anterior</button>
            <button @onclick="Next" class="btn btn-outline-primary mx-2">Siguiente <i class="bi bi-chevron-right"></i></button>
            <button @onclick="Last" class="btn btn-outline-primary mx-2">Último <i class="bi bi-chevron-double-right"></i></button>
        </div>
    </div>
</div>

<div class="row mb-4">
    <input type="text" class="form-control mb-2" placeholder="https://" @bind-value="youtubeLink" />
    <button class="btn btn-primary" @onclick="Save">
        <span class="bi bi-plus"></span> Añadir
    </button>
</div>

<p>@mensaje</p>

@code {
    ListasDoblementeEnlazadas lista;

    string youtubeLink = string.Empty;
    string youtubeId = string.Empty;
    string mensaje = string.Empty;

    protected override void OnInitialized()
    {
        lista = new ListasDoblementeEnlazadas();
    }

    public string GetVideoId(string link)
    {
        var uri = new Uri(link);
        var query = uri.Query;
        var queryParams = System.Web.HttpUtility.ParseQueryString(query);
        var videoId = queryParams["v"];
        return videoId;
    }

    public void PlayVideo()
    {
        if(lista.nodoActual is not null)
        {
            youtubeLink = lista.nodoActual.informacion;

            var videoId = GetVideoId(youtubeLink);

            if (!string.IsNullOrEmpty(videoId))
            {
                youtubeId = $"https://www.youtube.com/embed/{videoId}";
            }
        }
    }

    void Save()
    {
        var nuevoNodo = new Nodo(youtubeLink);
        mensaje = lista.AgregarNodoAlInicio(nuevoNodo);
        PlayVideo();
        youtubeLink = string.Empty;
    }

    void First()
    {
        lista.nodoActual = lista.primerNodo;
        PlayVideo();
    }

    void Before()
    {
        lista.Anterior();
        PlayVideo();
    }

    void Next()
    {
        lista.Siguiente();
        PlayVideo();
    }

    void Last()
    {
        lista.nodoActual = lista.ultimoNodo;
        PlayVideo();
    }
}
